// Your variable overrides
$body-bg: #000;
$body-color: white;
$primary: blue;
$font-family-base: Arial;

$jumbotron-color: black;
$jumbotron-bg: grey;
$jumbotron-padding: 0px;
.jumbotron {
  background-image: url("../assets/jumbotron-bg-pic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 90%;
  height: 250px;
  text-align: center;
  margin: 0 auto;
}

#jumbotron-text {
  padding-top: 3rem;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
