// Your variable overrides
$body-bg: #000;
$body-color: white;
$primary: blue;
$font-family-base: Arial;

$jumbotron-color: black;
$jumbotron-bg: red;
.jumbotron {
  background-image: url("https://joscawij.github.io/portfolio/assets/jumbotron-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 700px;
  text-align: center;
  margin-bottom: 0;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
