// Your variable overrides
$body-bg: #e9ecef;
$body-color: white;
$font-family-base: Arial;

$jumbotron-color: black;
$jumbotron-bg: #e9ecef;
$jumbotron-padding: 0px;
$border-radius-lg: 0;
.jumbotron {
  background-image: url("../assets/jumbotron-bg-pic.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 99.8%;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}

#jumbotron-text {
  padding: 4rem 0;
}

h1 {
  position: relative;
}

h1:after {
  position: absolute;
  content: "";
  width: 40%;
  bottom: -5px;
  border-bottom: 1px solid black;
  left: 30%;
}

$navbar-brand-padding-y: 0;

$link-color: #e9ecef;
$link-hover-color: darken($link-color, 30%);
.navbar {
  background-color: black;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
